/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #000000;
}
header {
    background-color: #2a00fc;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 13px;
}

nav ul li a {
    font-family: 'Arial', sans-serif; /* Escolha uma fonte elegante */
    font-size: 18px; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    padding: 10px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
}

nav ul li a:hover {
    background-color: #007BFF; /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center; /* Centraliza todo o conteúdo da seção */
}

section h2 {
    color: #000000;
    text-align: center; /* Centraliza os títulos */
}

section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza os itens da lista */
    gap: 20px; /* Espaço entre os itens */
}

section ul li {
    margin: 10px 0;
    display: flex;
    flex-direction: column; /* Empilha a imagem e o texto verticalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    text-align: center; /* Centraliza o texto */
    width: 200px; /* Largura fixa para cada item */
}

section ul li img {
    border-radius: 15px;
    width: 150px; /* Largura fixa para as imagens */
    height: 150px; /* Altura fixa para as imagens */
    object-fit: cover;
    margin-bottom: 10px; /* Espaço entre a imagem e o texto */
}

footer {
    background-color: #0026ff;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}

/* Estilos para dispositivos móveis */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section ul li {
        width: 100%; /* Ocupa toda a largura em telas pequenas */
    }

    section ul li img {
        width: 200px; /* Imagens um pouco maiores em telas pequenas */
        height: 200px;
    }
}

/* Estilos para o ícone de voltar ao topo */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    display: none; /* Escondido por padrão */
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #0056b3;
}

